<% provide(:title , "E Management")%>

<div class="row">
  <div class="span4" align="left">
  	<h2>
  	  E Count
  	  <%= link_to("New Semester" , "#TODO" , method: :patch,
  	  data: { confirm: "Are you sure you like to delete all entries? \n NOTE: This action can NOT be undone." },
  	   :class => "btn pull-right")%>
  	</h2>
  	<%= form_tag(main_app.update_e_count_path,  method: :patch) do%>
  	  E's Needed:<%= text_field_tag("e_count",  @threshold, :class => "input-small")%>
  	  <%= submit_tag("Update")%>
  	<% end %>
  	<table class="table table-striped table-hover table-condensed">
  	  <thead>
  	  	<th>Name</th>
  	  	<th>Current E Count</th>
  	  	<th>E's Remaining</th>
  	  </thead>
	  <tbody>
		<% @e_count.each do | user |%>
		  <tr>
			<td><%= "#{user[0]} #{user[1]}"%></td>
			<td><%= user[2]%></td>
			<td><%= user[3]%></td>
		  </tr>
		<% end%>
	  </tbody>
	</table>
  </div>
  <div class="span4" align="left">
  	<h2>
  	  Meal Management
  	  <%= link_to "Add Meal" , main_app.new_meal_path , :class => "btn"%>
  	  <%= link_to "Add Week" , main_app.new_week_path , method: :patch, :class => "btn"%>
  	  <%= link_to "Edit Template", main_app.e_templates_path, class: "btn"%>
  	</h2>
  	<% @meals.each do | week , breakdown |%>
  	  <h3>Week of <%= week.strftime("%B %e, %Y")%></h3>
  	  <table class="table table-striped table-hover table-condensed">
	   <tbody>
		<% breakdown.each do |day , meals|%>
		  <tr>
			<td style='vertical-align:middle'><%= day.strftime("%A")%></td>
			<td style='vertical-align:middle'>
			 <% for i in 0..1 %>
			  <% meals[i].each do | meal |%>
			    <%= link_to disp_meal(meal), "#{main_app.epsilon_index_path}/#{meal.id}"%>
				<br>
				<%= "&nbsp;&nbsp;&nbsp;--#{meal.comment}<br>".html_safe unless meal.comment.blank?%>
			  <% end %>
			 <%= "<br>".html_safe if i == 0%>
			 <% end %>
			</td>
		  </tr>
		<% end%>
	   </tbody>
	  </table>
  	<% end %>
  </div>
  <div class="span4">
  	<h2>
  	  E Management
  	  <%= link_to "New Entry" , main_app.new_epsilon_path , :class => "btn pull-right"%>
  	</h2>
  	<table class="table table-striped table-hover table-condensed">
	 <tbody>
  	  <% @entries.each do | entry |%>
  	    <tr>
  	      <td><%= disp_other(entry, main_app.epsilon_index_path)%></td>
  	    </tr>
  	  <% end %>
  	 </tbody>
  	</table>
  </div>
</div>