<% provide(:title , "E Management - New Entry")%>

<div class="row">
  <div class="span12" align="left">
  	<h2>Meal Management - New Entry</h2>
  </div>
  <div class="span12">
  	<%= render_errors(@element)%>
  	<%= form_for(@element, options={url: "#{main_app.epsilon_index_path}#create"}) do |f|%>
  	  <%= f.hidden_field :e_type, value: "entry"%>
  	  <%= f.hidden_field :time, value: Time.current.getlocal.strftime("%l:%M%p")%>
  	  Date: <%= f.text_field :date%><br>
  	  Server: <%= f.select( :dke_info_id, options_for_select(@brothers, selected: @element.dke_info_id))%><br>
  	  E Value: <%= f.text_field :value%><br>
  	  Comment: <%= f.text_area :comment%><br>
  	  <%= f.submit("Add Meal", :class => "btn")%>
  	<% end %>
  </div>
</div>