<% provide(:title , "E Management - New Meal")%>

<div class="row">
  <div class="span12" align="left">
  	<h2>Meal Management - New Meal</h2>
  </div>
  <div class="span12">
  	<%= render_errors(@element)%>
  	<%= form_for(@element, options={url: "#{main_app.epsilon_index_path}#create"}) do |f|%>
  	  Date: <%= f.text_field :date, class: "datepicker"%><br>
  	  Meal Type: <%= f.select( :e_type, options_for_select([["Lunch","lunch"],["Dinner","dinner"]], selected: @element.e_type))%><br>
  	  Time: <%= f.text_field :time%><br>
  	  <div>Server: <%= server_select(f, @brothers, @element.dke_info_id)%></div><br>
  	  E Value: <%= f.text_field :value%><br>
  	  Comment: <%= f.text_area :comment%><br>
  	  <%= f.submit("Add Meal", :class => "btn")%>
  	<% end %>
  </div>
</div>
<script>
 	$( ".datepicker" ).datepicker();
</script>