<% provide(:title , 'Chapter Officers')%>

<div class="row">
	<div class="span12" align="left">
		<h3>
			Chapter Officers
			<div class="btn-group pull-right">
				<%= link_to "Update Officers" , "#{positions_updatem_path}"  , :class => "btn"%>
			</div>
		</h3>
	</div>	
	<% @officers.each do |pos, info|%>
	  <div class="span6" align="center">
		<p><b><%= info[:name]%>:</b> <%= "#{info[:full_name]} '#{info[:year]}"%>
		<br><b>Contact For:</b> <%= info[:contact]%>
		<br><%= link_to "#{info[:uname]}@mit.edu", "mailto:#{info[:uname]}@mit.edu"%>
	  </div>
	<%end%>
</div>