<table class="table table-condensed table-striped">
  <tr>
	<th>Username</th>
	<th>First Name</th>
	<th>Last Name</th>
	<th>Year</th>
	<th></th>
  </tr>
  <% @results.each do | user | %>
	<tr>
	  <td><%= user["uid"][0] unless user["uid"].blank? %></td>
	  <td><%= user["givenName"][0] unless user["givenName"].blank? %></td>
	  <td><%= user["sn"][0] unless user["sn"].blank? %></td>
	  <td><%= user["mitDirStudentYear"][0] unless user["mitDirStudentYear"].blank? %></td>
	  <td>
	  	<%= hidden_field_tag("user[#{user['uid'][0]}]", user["uid"][0])%>
	    <%= button_tag("Add", class: "pledge_add")%>
	  </td>
	</tr>
  <% end %>
</table>