<% provide(:title , "Add Pledge Class")%>

<div class="row">
	<h2>Pledge Class of <%= Users.cur_p_class%></h2>
	<div class="span6 offset3">
	  <%= form_tag add_pledges_url, method: :post do%>
		<%= text_field_tag :kerberos%>
		<%= hidden_field_tag :pledges, @pledges.to_xml%>
		<%= submit_tag "Add", class: "btn"%>
	 	<% unless @pledges.empty?%>
	  	<table class="table table-striped table-hover table-condensed">
			<thead><tr>				
				<th>Username</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>MIT Class</th>
				<th></th>
			</tr></thead>
			<tbody>
			  <% @pledges.each do | uname, info |%>
			  	<tr>
			  		<td><%= uname%></td>
			  		<td><%= info["first_name"]%></td>
			  		<td><%= info["last_name"]%></td>
			  		<td><%= info["year"]%></td>
			  		<td><%= button_tag "Remove", name: "remove", value: uname %></td>
			  	</tr>
			  <%end%>
			</tbody>
		</table>
		<%= button_tag "Add Pledge Class", name: "commit", value: "commit" %>
	  	<%end%>
	  <%end%>
	</div>
</div>
