<% provide(:title , "User Management - #{@user.uname}")%>
<% javascript 'users' %>

<div class="row">
	<div class="span12">
		<h2>User Management - <%= @user.uname%></h2>
	</div>
	<div class="span8 offset2">
	  <%= form_for @user do |f| %>
		<div class="row usr-edit">
			<div class="span4">
		 		Username: <%= f.text_field :uname %>
		 	</div>
		 	<div class="span4">
		 		Active Kerberos: <%= active_kerberos(@user)%>
		 	</div>
		 	<div class="span8">
		 		Password: <%= get_passwd_field(@user, f)%>
		 	</div>
		 	<div class="span4">
		 		Group: <%= f.select :group, options_for_select(['dkealum','dkeactive','dkepledge','dkeaffil'], selected=@user.group)%><br>
		 	</div>
		 	<div class="span4">
		 		Admin: <%= f.select :chicken, options_for_select(['','broweb','broporn','brochicken'], selected=@user.chicken)%><br>
		 	</div>
		 	<div class="span6 offset2">
		 		<u><b>Brother Information</b></u><br>
		 		<%= brother_info_select(@user, f)%>
		 		<br><br>
		 	</div>
		 	<div class="span4 offset4">
		 		<%= f.submit("Save", class: "btn btn-primary")%>
		 		<div id='<%= @user.id%>' class="btn usr_delete">Delete</div>
		 	</div>
		</div>
	  <% end %>
	</div>
</div>
