<% provide(:title , "User Management - Add User")%>

<h2>Add User</h2>
<%= render_errors(@user.personal)%>
<%= render_errors(@user.mit)%>
<%= render_errors(@user.dke)%>

<div class="row">
	<div class="span6 offset3">
    <%= form_for(@user, options={url: "#{users_path}#create"}) do |f| %>
      <b>Username:
      <br><%= f.text_field :uname%>
      <br>Mit Student:</b>
      <br><%= f.radio_button :student, 1, checked: "checked"%>Yes
      <br><%= f.radio_button :student, 0%>No
      <b><br>Primary Group:
      <br><%= f.select :group, options_for_select([["Brother","dkebro"],["Pledge","dkepledge"],["Affiliate","dkeaffil"]])%>
      <div id="pwd_box">
      	<div id="brother_box">
      		First Name:
      		<br><%= f.text_field :first_name%>
      		<br>Last Name:
      		<br><%= f.text_field :last_name%>
      		<br>Mit Class:
      		<br><%= f.text_field :mit_class%>
      		<br>Pledge Class:
      		<br><%= f.text_field :p_class%>
      	</div>
      	<br>Password:<br><%= f.password_field :pswd1%>
      	<br>Confirmation:<br><%= f.password_field :pswd2%>	
      </div>

      </b><br><%= f.submit "Add User", class: "btn btn-primary" %>
    <% end %>
  	</div>
</div>
