<% provide(:title , "User Management - #{@user.uname}") if @user.group=="dkeaffil"%>
<% provide(:title , "User Management - #{@user.personal.full_name}") unless @user.group=="dkeaffil"%>
<h2>Edit User</h2>
<%= render_errors(@user)%>
<%= render_errors(@user.personal)%>
<%= render_errors(@user.mit)%>
<%= render_errors(@user.dke)%>

<div class="row">
	<div class="span6 offset3">
	<!--<form accept-charset="UTF-8" action="/users/asnoakes#update" class="edit_brothers_personal" id="edit_brothers_personal_61" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="_method" type="hidden" value="patch" /><input name="authenticity_token" type="hidden" value="pCRy40pfAj6jYCeh3eHZzCus3CCJe/OLU54s/AxBQuY=" /></div>
      Username:-->
    <%= form_for(@user, options={url: "#{user_path}#update", method: :patch}) do |f| %>
      Username:
      <br><%= f.text_field :uname%>
      <br>Mit Student: <%= (@user.student?)?"yes":"no"%>
      <br>Primary Group: <%= {"dkebro"=>"Brother","dkepledge"=>"Pledge","dkeaffil"=>"Affiliate"}[@user.group]%>
      <% unless @user.group=="dkeaffil"%>
		<br><br>First Name:
		<%= fields_for @user.personal do |f_personal|%>
		  <br><%= f_personal.text_field :first_name%>
		  <br>Last Name:
		  <br><%= f_personal.text_field :last_name%>
		<%end%>
		<br>Mit Class:
		<%= fields_for @user.mit do |f_mit|%>
		  <br><%= f_mit.text_field :year%>
		<%end%>
		<br>Pledge Class:
		<%= fields_for @user.dke do |f_dke|%>
		  <br><%= f_dke.text_field :p_class%>
		<%end%>
	  <%end%>
	  <% if !@user.student?%>
	  <br>Change Password?:
	  <br><%= radio_button_tag :new_pwd, 1%>Yes
      <br><%= radio_button_tag :new_pwd, 0, checked: "checked"%>No
	  <br>Password:<br><%= password_field_tag :password%>	
	  <%end%>
      <br><%= f.submit "Update User", class: "btn btn-primary" %>
    <% end %>
   </div>
</div>