<% provide(:title , 'Chapter Officers')%>

<div class="row">
	<div class="span12" align="left">
		<h3>
			Chapter Officers
			<div class="btn-group pull-right">
				<!--<= link_to "Update Officers" , "#{positions_updatem_path}"  , :class => "btn"%>
				<= link_to "Add Position" , "#{new_position_path}"  , :class => "btn"%>-->
			</div>
		</h3>
		<table class="table table-striped table-hover table-condensed sorted_table">
		  <thead>
		  <tr>
			<th>Name</th>
			<th>Title</th>
			<th>Holder</th>
			<th>Displayed</th>
			<th>Contact For</th>
			<th></th>
		   </tr>
		  </thead>
		  <tbody>
		   <% @officers.each do | officer | %>
		    <tr>
		    	<td><%= officer[:name]%></td>
			    <td><%= officer[:title]%></td>
			    <td><%= officer[:full_name]%></td>
				<td><%= officer[:disp]%></td>
				<td><%= officer[:contact]%></td>
				<td><%= button_to "Test", root_path%></td>
			</tr>
		   <% end %>
		  </tbody>
		</table>
	</div>
</div>