<% provide(:title , 'Chapter Officers - Add Position')%>

<div class="row">
	<div class="span12" align="left">
		<h3>Add Position</h3>
	</div>
	<div class="span6 offset4" align="left">
	  <%= render_errors(@officer)%>
	  <%= form_for(@officer, options={url: "#{officers_path}#create"}) do |pos| %>
		Name: <%= pos.text_field :name%><br>
		Title: <%= pos.text_field :title%><br>
		Current Holder: <%= officer_select(pos, @officer.dke_info_id)%><br><br>
		Email: <%= pos.text_field :email%><br>
		Can assign points: 
		  <%= pos.radio_button( :assign_points, 1, checked: @officer.assign_points)%>Yes
		  <%= pos.radio_button( :assign_points, 0, checked: !@officer.assign_points)%>No<br><br>
		Display on contacts Page: 
		  <%= pos.radio_button( :disp, 1, checked: @officer.disp)%>Yes
		  <%= pos.radio_button( :disp, 0, checked: !@officer.disp)%>No<br><br>
		Contact For: <%= pos.text_area :contact%><br>
		
		<%= pos.submit "Add Position", class: "btn btn-primary" %>
	  <%end%>
	</div>
</div>