<% provide(:title , "Summer Housing Applicants")%>

<div class="row">
	<div class="span12" align="left">
		<h3>Summer Housing Applicants</h3>
		<table class="table table-striped table-hover">
			<thead><tr>
				<th>Name</th>
				<th>School</th>
				<th>Year</th>
				<th>Email</th>
				<th>Brother</th>
				<th></th>
			</tr></thead>
			<tbody>
			  <% @boarders.each do | boarder |%>
				<tr>
				  <td><%= link_to "#{boarder.first_name} #{boarder.last_name}", "#{chapter_public_index_path}/#{boarder.ID}"%></td>
				  <td><%= boarder.school%></td>
				  <td><%= boarder.year%></td>
				  <td><%= boarder.email%></td>
				  <td><%= boarder.dke_brother%></td>
				  <% if @me.is?("s_zeta")%>
				    <td><%= link_to("Delete" , "#{chapter_public_index_path}/#{boarder.ID}" , method: :delete, 
				  	  data: { confirm: "Are you sure you would like to delete this application?" }, :class => "btn")%></td>
				  <% end %>
				</tr>
			  <% end%>
			</tbody>
	</div>
</div>
