<% provide(:title , "House Points Breakdown #{humanize(@table.start_date)}")%>

<div class="row">
	<div class="span12" align="left" style="font-weight:bold;">
	  <h2>
	  	House Points Breakdown: <%= humanize(@table.start_date)%> - <%= humanize(@table.end_date)%>
	  	
      	<!--<%= link_to("Delete" , backup_house_point_table_path , method: :delete,
	  	  	data: { confirm: "Are you sure you like to delete all these entries? \n NOTE: This action can NOT be undone." },
	  	   	class: "btn btn-default pull-right") %>-->
	  	
	  	<%= link_to("Restore" , backup_house_point_table_path , method: :patch,
	  	  	data: { confirm: "Are you sure you like to restore all these entries?." },
	  	   	class: "btn btn-default pull-right") %>
	  </h2>
	</div>
	<table class="table table-striped">
	  <tr>
	  	<th>Name</th>
	  	<th>Year</th>
	  	<th>Entries</th>
	  </tr>
	  <% @breakdown.each do | brother | %>
	   <tr>
	  	<td><%= brother[:name]%></td>
	  	<td><%= brother[:year]%></td>
	  	<td>
	  	  <table class="table table-condensed">
	  	   <% brother[:points].each do | key, entries |%>
	  	    <% entries.each do | entry | %>
	  	  	  <tr>
	  	  	  	<td><%= key%></td>
	  	  	  	<td><%= entry.value%></td>
	  	  	  	<td><%= entry.comment%></td>
	  	  	  </tr>
	  	  	<% end %>
	  	   <% end %>
	  	  </table>
	  	  Total: <%= get_total(brother[:points])%>
	  	</td>
	   </tr>
	  <% end %>
	</table>
</div>