<% provide(:title , "Weekly Schedule")%>

<div class="row">
  <div class="span6 offset3" align="left">
  	<h3>
  		Weekly Schedule
  		<%= link_to "Add Meal", main_app.new_e_sheet_path, class: "btn pull-right"%>
  	</h3>
	<table class="table table-striped table-condensed">
	  <thead>
	  	<th>Day</th>
	  	<th>Meal</th>
	  	<th>Time</th>
	  	<th>Value</th>
	  	<th></th>
	  </thead>
	  <tbody>
		<% @meals_schedule.each do |day , meals|%>
		  <% for i in 0..meals.length-1 %>
		  <tr>
		   <% if  i == 0%>
			<td rowspan="<%= meals.length%>" style='vertical-align:middle'><%= day.strftime("%A")%></td>
		   <% end %>
			<td style='vertical-align:middle'><%= meals[i].e_type[2..-1].humanize%></td>
			<td style='vertical-align:middle'><%= meals[i].time%></td>
			<td style='vertical-align:middle'><%= meals[i].value%></td>
			<td style='vertical-align:middle'>
				<%= link_to "Edit", "#{main_app.e_sheets_path}/#{meals[i].id}", class: "btn"%>
				<%= link_to("Delete" , "#{main_app.e_sheets_path}/#{meals[i].id}" , method: :delete,
  	  						data: { confirm: "Are you sure you would like to delete this meal?" }, :class => "btn")%>
			</td>
		  </tr>
		 <% end %>
		<% end%>
	  </tbody>
	</table>
  </div>
</div>