<% provide(:title , "E Sheet")%>

<div class="row">
  <div class="span8" align="left">
  	<h2>E Sheet</h2>
  	<h3>Week of <%= get_e_week.strftime("%B %e, %Y")%></h3>
	<table class="table table-striped table-hover table-condensed">
	  <thead></thead>
	  <tbody>
		<% @week_meals.each do |day , meals|%>
		  <tr>
			<td style='vertical-align:middle'><%= day.strftime("%A")%></td>
			<% meals.each do | int_meals |%>
			 <td style='vertical-align:middle'>
			  <% int_meals.each do | meal |%>
				<%= form_tag(main_app.public_sheet_path, :class => "e_sheet public_e_sheet keypad-trigger", method: :patch) do%>
				  <%= hidden_field_tag( "meal[id]", meal.id)%>
				  <%= text_field_tag("mit_id")%>
				  <%= "#{meal.e_type.humanize} #{meal.time} ::"%>
				  <%= get_server(meal)%>
				<% end %>
			  <%end%>
			 </td>
			<% end %>
		  </tr>
		<% end%>
	  </tbody>
	</table>
  </div>
  <div class="span4">
  	<h3>E Count</h3>
  	<table class="table table-striped table-hover table-condensed">
  	  <thead>
  	  	<th>Name</th>
  	  	<th>Current E Count</th>
  	  	<th>E's Remaining</th>
  	  </thead>
	  <tbody>
		<% @e_count.each do | user |%>
		  <tr>
			<td><%= "#{user[0]} #{user[1]}"%></td>
			<td><%= user[2]%></td>
			<td><%= user[3]%></td>
		  </tr>
		<% end%>
	  </tbody>
	</table>
  </div>
</div>