<% provide(:title , "Edit Brother Information: #{@brother.full_name}")%>

<div class="row me">
	<div class="span4">
		<img class="pic" src="<%= @brother.pic_path(root_path)%>"/>
		<h2 class="visible-phone"><%= @brother.full_name%></h2>
    </div>
    <div class="span8 hidden-phone" align="left">
    	<h2><%= @brother.full_name%></h2>
    	<table>
    		<tr>
    			<td style="padding:0px;">
    				<div class="row">
    					<div class="span4 mit">
    						<br><h3>MIT class of <%= @brother.mit_info.year%></h3>
    					</div>
    					<div class="span4 dke">
    						<br><h3>Pledge class of <%= @brother.dke_info.p_class%></h3></td>
    					</div>
    				</div>
    			</td>
    		</tr>
    	</table>
    </div>
    <div class="span12"></div>
	<%= form_for(@brother, options={url: "#{brother_path}#update"}) do |f|%>
  	<div class="edit">
  		<div class="span4">
  			<center><u><h3>Personal</h3></u></center>
  			<%= render_errors(@brother)%>
  			<div>Profile Picture:<%= f.file_field :picture%></div>
  			<div>First Name: <%= f.text_field :first_name %></div>
  			<div>Last Name: <%= f.text_field :last_name %></div>
  			<div>Hometown: <%= f.text_field :hometown %></div>
  			<div>Phone Number: <%= f.text_field :phone %></div>
  			<div>Email Address: <%= f.text_field :email %></div>			
		    <div>Favorite Quote: <%= f.text_field :quote %></div>
		    <div>Bio: <%= f.text_area :bio %></div>
  		</div>
      	<div class="span4">
      		<center><u><h3>MIT</h3></u></center>
      		<%= fields_for("user_brother[mit_info]", @brother.mit_info) do |f_mit|%>
      		<%= render_errors(@brother.mit_info)%>
      		<div>Class of: <%= f_mit.text_field :year%></div>
       		<div>Majors: <%= f_mit.text_field :majors%></div>
       		<div>Minors: <%= f_mit.text_field :minors%></div>
       		<div>Concentration: <%= f_mit.text_field :concentration%></div>
			<div>Extracurricular Activities: <%= f_mit.text_field :extracurriculars%></div>
       		<div>Interests: <%= f_mit.text_field :interests%></div>
       		<div>UROPs: <%= f_mit.text_field :urops%></div>
       		<div>Internships: <%= f_mit.text_field :internships%></div>
       		<div>Favorite MIT Classes: <%= f_mit.text_field :fav_classes%></div>
       		<%end%>
      	</div>
      	<div class="span4">
      		<center><u><h3>DKE</h3></u></center>
      		<%= fields_for("user_brother[dke_info]", @brother.dke_info) do |f_dke|%>
	      		<%= render_errors(@brother.dke_info)%>
	      		<div>Pledge Class: <%= f_dke.text_field :p_class%></div>
	       		<div>Pledge Name: <%= f_dke.text_field :p_name%></div>
	   			<div>Pledge Project: <%= f_dke.text_field :project%></div>
	   			
	   			<div class="bl-label">Big Brother: <%= big_select(f_dke, @brother.dke_info)%></div>
	   			
	   			<!-- This is used in javascript for adding little brothers -->
	   			<div id='template' class='hidden'><%= little_select(nil,"__n")%></div>
	   			
	   			<span id="little_span"><%= little_select_div(@brother.dke_info)%></span>
	   			
	   			<br>
	   			
	   			<div class='btn add_little', id="<%= little_num(@brother.dke_info)%>">Add Another Little Brother</div>
	   			
	   			<div>Positions Held: <%= f_dke.text_field :past_pos%></div>
   	  		<%end%>
    	</div>
    	<div class='span10'></div>
		<div class="span2">
			 <%= f.submit "Save Changes", class: "btn btn-primary" %>
			 <%= brother_info_delete if @me.admin?("broporn")%>
		</div>
	</div>
	<%end%>
</div>

<script>
	$( document ).ready(function() {
		$(".chosen-select").chosen({allow_single_deselect: true });
	});
</script>
