<% provide(:title , "Add a Bible")%>

<div class="row">
  <div class="span12">
  	<h2>Add a Bible</h2><hr>
  	<%= render_errors(@new_bible)%>
  	<%= form_for(@new_bible, options={url: add_bible_path}) do |f|%>
  	  Class: <%= f.text_field(:class_num)%><br>
  	  Year: <%= f.text_field(:year)%><br>
  	  Semester: <%= f.select(:semester, options_for_select(["Fall","IAP", "Spring"], selected: @new_bible.semester))%><br>
  	  <br>
  	  <%= f.submit("Next", :class => "btn")%>
  	<% end%>
  </div>
</div>