<% provide(:title , "Add a Bible")%>

<div class="row">
  <div class="span12">
  	<h2>Add a Bible</h2><hr>
  	<%= render_errors(@new_bible)%>
  	<%= form_for(@new_bible, options={url: upload_bible_path}) do |f|%>
  	  <h3><%= "#{@new_bible.class_num} -- #{@new_bible.semester} #{@new_bible.year}"%></h3>
  	  <%= f.hidden_field(:class_num)%>
  	  <%= f.hidden_field(:year)%>
  	  <%= f.hidden_field(:semester)%>
  	  File: <%= f.file_field( :material)%><br>
  	  <br>
  	  <%= f.submit("Upload", :class => "btn")%>
  	<% end%>
  </div>
</div>