<% provide(:title , 'Contact Information')%>

<div class="row house">
	<div class="span12" align="left">
		<h3>Contacting DKE</h3>
	</div>	
	<% @officers.each do |pos, info|%>
	  <div class="span6" align="center">
		<p><b><%= info[:name]%>:</b> <%= "#{info[:full_name]} '#{info[:year]}"%>
		<br><b>Contact For:</b> <%= info[:contact]%>
		<br><%= link_to("#{info[:uname]}@mit.edu", "mailto:#{info[:uname]}@mit.edu") unless pos == "s_psi"%>
		<%= link_to("dkesummerhousing@gmail.com", "mailto:dkesummerhousing@gmail.com") if pos == "s_psi"%>
	  </div>
	<%end%>
</div>