<% provide(:title , "Points Breakdown")%>

<div class="row">
	<div class="span12" align="left">
		<h3>Points Breakdown</h3>
		<table class="table table-striped table-hover table-condensed">
			<thead><tr>
			  	<th>Name</th>
			  	<th>Pledge Class</th>
			  	<th>Total</th>
			  	<% @award_pos.each do | officer |%>
			  	  <th><%= officer.humanize%></th>
			  	<% end%>
			</tr></thead>
			<tbody>
			  <% @pts_breakdown.each do | usr |%>
			  <tr>
				<td><%= usr[:name]%></td>
				<td><%= usr[:year]%></td>
				<td><%= usr[:total]%></td>
				<% usr[:points].each do |pos, entries|%>
					<td><%= entries[:val]%></td>
				<% end%>
			  </tr>
			  <%end%>
			</tbody>
		</table>
	</div>
</div>