<li class="nav-item"><%= link_to "House Point Entries" , gen_point_url("beta")%></li>
<li class="nav-item"><%= link_to "Officer Management" , main_app.officers_path%></li>
<li class="nav-item"><%= link_to "Meal Plan Management" , main_app.meal_plan_path%></li>
<li class="nav-item"><%= link_to "Room Picks" , main_app.room_picks_path%></li>
<li class="nav-item"><%= link_to "President's Letter" , "#{main_app.public_pages_path}letter"%></li>
<li class="nav-item"><%= link_to "Old House Point Data", main_app.backup_house_point_tables_path%></li>
