<% provide(:title , 'Old E Data')%>

<div class="row">
	<div class="span12" align="left">
		<h3>Previuos E Data</h3>
	</div>
	<div class="span8 offset2">
	  <table class="table table-striped">
	  	<tr>
	  	  <th>Date Range</th>
	  	  <th>Actions</th>
	  	</tr>
	   <% @tables.each do | data |%>
	    <tr>
	      <td><%= humanize(data.start_date)%> - <%= humanize(data.end_date)%></td>
	      <td>
	      	<%= link_to "View", main_app.backup_e_data_table_path(data.id), class: "btn btn-default"%>
	      	<%= link_to("Restore" , main_app.backup_e_data_table_path(data.id) , method: :patch,
		  	  	data: { confirm: "Are you sure you like to restore all these entries?." },
		  	   	class: "btn btn-default") %>
	      	<%= link_to("Delete" , main_app.backup_e_data_table_path(data.id) , method: :delete,
		  	  	data: { confirm: "Are you sure you like to delete all these entries? \n NOTE: This action can NOT be undone." },
		  	   	class: "btn btn-default") %>
	      </td>
	    </tr>
	   <% end %>
	  </table>
	</div>
</div>