<% provide(:title , "E Sheet")%>

<div class="row">
  <div class="span8" align="left">
  	<h3>E Sheet</h3>
	<table class="table table-striped table-hover table-condensed">
	  <thead></thead>
	  <tbody>
		<% @week_meals.each do |day , meals|%>
		  <tr>
			<td style='vertical-align:middle'><%= day.strftime("%A")%></td>
			<% meals.each do | int_meals |%>
			 <td style='vertical-align:middle'>
			  <% int_meals.each do | meal |%>
				<%= "#{meal.e_type.humanize} #{meal.time} ::"%>
				<%= get_serv(meal.uname, meal.time, meal.date)%><br>
			  <%end%>
			 </td>
			<% end %>
		  </tr>
		<% end%>
	  </tbody>
	</table>
	<h2>Menu</h2>
	<table class="table table-striped">
	  <tbody>
	  	<% @menu.each do | day |%>
	  	  <tr>
	  	  	<td><h4><%= day.day.humanize%></h4></td>
	  	  	<td><%= "Lunch: #{day.lunch}" unless day.lunch.empty?%></td>
	  	  	<td><%= "Dinner: #{day.dinner}" unless day.dinner.empty?%></td>
	  	  </tr>
	  	<% end %>
	  </tbody>
	</table>
  </div>
  <div class="span4">
  	<h3>E Count</h3>
  	<table class="table table-striped table-hover table-condensed">
  	  <thead>
  	  	<th>Name</th>
  	  	<th>Current E Count</th>
  	  	<th>E's Remaining</th>
  	  </thead>
	  <tbody>
		<% @e_count.each do | user |%>
		  <tr>
			<td><%= user[0]%></td>
			<td><%= user[2]%></td>
			<td><%= user[3]%></td>
		  </tr>
		<% end%>
	  </tbody>
	</table>
  </div>
</div>