<% provide(:title , "E Sheet")%>

<div class="row">
  <div class="span6" align="left">
  	<h3>E Sheet</h3>
	<table class="table table-striped table-hover table-condensed">
	  <tbody>
		<% @week_meals.each do |day , meals|%>
		  <tr>
			<td style='vertical-align:middle'><%= day.strftime("%A")%></td>
			<% meals.each do | int_meals |%>
			 <td style='vertical-align:middle'>
			  <% int_meals.each do | meal |%>
				<%= form_tag(e_sheet_path, :class => "e_sheet", method: :patch) do%>
				  <%= hidden_field_tag( "meal[id]", meal.id)%>
				  <%= "#{meal.e_type.humanize} #{meal.time} ::"%>
				  <%= get_server(meal.uname, meal.time, meal.date)%>
				<% end %>
			  <%end%>
			 </td>
			<% end %>
		  </tr>
		<% end%>
	  </tbody>
	</table>
  </div>
  <div class="span6">
  	<h3>E Count</h3>
  	#TODO
  </div>
</div>