<div class="row">
  <div class="span6 offset3">
  	<h2>New Event</h2>
  	<%= render_errors(@event)%>
  	<%= form_for(@event, options={url: "#{main_app.event_path}#update"}) do |f|%>
  	  <%= f.hidden_field :id%>
  	  Title: <%= f.text_field :title%><br>
  	  Start: <%= f.text_field :start, class: "datetimepicker", value: formatDateTime(@event.start)%><br>
  	  End: <%= f.text_field :end, class: "datetimepicker", value: formatDateTime(@event.end)%><br>
  	  Description: <%= f.text_area :desc%><br>
  	  <%= f.submit("Update", :class => "btn btn-primary")%>
  	  <%= link_to("Delete" , main_app.event_path , method: :delete, 
					data: { confirm: "Are you sure you would like to delete this event?" }, :class => "btn")%>
  	<% end %>
  </div>
</div>
<script>
  $('.datetimepicker').datetimepicker({
  	step: 15,
  	formatTime: "g:i A",
  	todayButton: true});
</script>
