<%= render 'layouts/header'%>
<div class="row">
	<div class="span3">
	  <% unless @me.uname == "dke_alum" %>
		<!--<h3>Some Title</h3>-->
		<div class="accordion" id="statusAccordian">
		 <%if @me.brother.dke_info.has_house_points? %>
		  <div class="accordion-group">
		  	<div class="accordion-heading">
		  	  <a class="accordion-toggle" data-toggle="collapse" data-parent="#statusAccordian" href="#collapseHP">
		  	  	<b>House Points &nbsp;<%= @me.brother.dke_info.house_point_total%></b>
		  	  </a>
		  	</div>
		  	<div id="collapseHP" class="accordion-body collapse">
		  	  <div class="accordion-inner">
		  	   <% @me.brother.dke_info.house_point_breakdown.each do | pos, entries |%>
		  	    <% if entries.length > 0 %>
		  	  	 <u><b><%= pos.humanize%></b></u><br>
		  	  	 <ul>
		  	  	  <% entries.each do | entry |%>
		  	  	   <li>
		  	  	    <%= entry.value%>: <%= entry.comment%>
		  	  	   </li>
		  	  	  <% end%>
		  	  	 </ul>
		  	    <% end %>
		  	   <% end %>
		  	  </div>
		  	</div>
		  </div>
		 <% end %>
		 <%if @me.brother.dke_info.meal_plan %>
		  <div class="accordion-group">
		  	<div class="accordion-heading">
		  	  <a class="accordion-toggle" data-toggle="collapse" data-parent="#statusAccordian" href="#collapseE">
		  	  	<b>E's &nbsp;<%= @me.brother.dke_info.e_status%>/<%= Epsilon::ESheet.e_count%></b>
		  	  </a>
		  	</div>
		  	<div id="collapseE" class="accordion-body collapse">
		  	  <div class="accordion-inner">
		  	  	<ul>
		  	  	  <% @me.brother.dke_info.e_served.order(date: :desc).each do | meal |%>
		  	  	    <li><%= meal.date.strftime("%m/%e/%y")%>:
		  	  	    <% if meal.e_type == "entry"%>
		  	  	      <%= meal.comment%> --
		  	  	    <% else %>
		  	  	      <%= meal.e_type%> --
		  	  	    <% end %>
		  	  	    <%= meal.value%>
		  	  	    </li>
		  	  	  <% end %>
		  	  	</ul>
		  	  </div>
		  	</div>
		  </div>
		 <% end %>
		</div>
	  <% end %>
	</div>
	<div class="span6 hidden-phone" align="center">
		<%= image_tag("dke_crest.gif", :alt => "")%><br><br>
		<h1 class="title">
			&Delta;&epsilon;&lambda;&tau;&alpha; 
			&Kappa;&alpha;&pi;&pi;&alpha; 
			&Epsilon;&psi;&iota;&lambda;&omicron;&nu;
			<br>
			Delta Kappa Epsilon
		</h1>
		<h2 class="title">
			&Sigma;&iota;&gamma;&mu;&alpha; 
			&Tau;&alpha;&omicron;&upsilon;
			<br>
			Sigma Tau
		</h2>
	</div>
	<div class="span3">
		<h3>Links</h3>
		<div class="accordion" id="linkAccordian">
		  <div class="accordion-group">
		  	<div class="accordion-heading">
		  	  <a class="accordion-toggle" data-toggle="collapse" data-parent="#linkAccordian" href="#collapseGen">
		  	  	General
		  	  </a>
		  	</div>
		  	<div id="collapseGen" class="accordion-body collapse in">
		  	  <div class="accordion-inner">
		  	  	<ul>
		  	  	 <% unless @me.uname == "dke_alum"%>
		  	  	  <li><%= link_to "Edit Profile", "#{main_app.brothers_path}/#{@me.brother.id}/edit"%></li>
		  	  	 <% end %>
		  	  	  <li><%= link_to "E Sheet", main_app.e_sheet_path%></li>
		  	  	  <% if @me.group? "dkebro"%>
				    <li><%= link_to "Points Breakdown", point_breakdown_path%></li>
				  <% end %>
		  	  	  <li><%= link_to "Calendar", main_app.calendar_path%></li>
		  	  	</ul>
		  	  </div>
		  	</div>
		  </div>
		  <%= gen_officer_links %>
		</div>
	</div>
</div>
