<% provide(:title , 'Profile')%>
<%= render_errors(@brother)%>
<%= render_errors(@brother_mit)%>
<%= render_errors(@brother_dke)%>
<div class="row me">
	<div class="span4">
		<img class="pic" src="<%="#{root_path}assets/brothers_img/#{@brother.first_name.downcase}_#{@brother.last_name.downcase}" %>.jpg"/>
		<h2 class="visible-phone"><%= @brother.full_name%></h2>
    </div>
    <div class="span8 hidden-phone" align="left">
    	<h2><%= @brother.full_name%></h2>
    	<table>
    		<tr>
    			<td style="padding:0px;">
    				<div class="row">
    					<div class="span4 mit">
    						<br><h3>MIT class of <%= @brother_mit.year%></h3>
    					</div>
    					<div class="span4 dke">
    						<br><h3>Pledge class of <%= @brother_dke.p_class%></h3></td>
    					</div>
    				</div>
    			</td>
    		</tr>
    	</table>
    </div>
    <div class="span12 profile_pg">
     	<ul class="nav nav-tabs" id="myTab">
      		<li class="active"><a href="#activity" data-toggle="tab">Activity</a></li>
      		<li><a href="#personal" data-toggle="tab">Personal</a></li>
      		<li><a href="#mit_info" data-toggle="tab">MIT</a></li>
      		<li><a href="#dke_info" data-toggle="tab">DKE</a></li>
    	</ul>
     	<div class="tab-content">
	      	<div class="tab-pane info active" id="activity">
	       		<!--#TODO-->
	      	</div>
	      	<div class="tab-pane info" id="personal">
		      	<div class="row">
		      		<div class="span12">
		      			<div align="right" class="edit_btn"><button href="#editPersonal" class="btn btn-primary" data-toggle="modal">edit</button></div>
		             	<p><b>Hometown:</b> <%= @brother.hometown%>
		    			<br><b>Email Address:</b> <%= @brother.uname%>@mit.edu
		    			<br><b>Phone Number:</b> <%= @brother.phone%>
		    			<p><b>Activities:</b> <%= @brother.activities%>
		    			<br><b>Hobbies:</b> <%= @brother.hobbies%>
		    			<p><b>Favorite Quote:</b> <%= @brother.quote%>
		    			<br><b>Favorite Movie:</b> <%= @brother.movie%>
		    			<br><b>Favorite Pro Team:</b> <%= @brother.pro_team%>
		    			<br><b>Favorite College Team:</b>  <%= @brother.college_team%>
		    			<P><b>Bio:</b>  <%= @brother.bio%>
		      		</div>
		      	</div>
			</div>
	      	<div class="tab-pane info" id="mit_info">
	       		<div align="right" class="edit_btn"><button href="#editMIT" class="btn btn-primary" data-toggle="modal">edit</button></div>
	       		<p><b>Majors:</b> <%= @brother_mit.majors%>
	       		<br><b>Minors:</b> <%= @brother_mit.minors%>
	       		<br><b>Concentration:</b> <%= @brother_mit.concentration%>
				<br><b>Extracurricular Activities:</b> <%= @brother_mit.extracurriculars%>
	       		<br><b>Interests:</b> <%= @brother_mit.interests%>
	       		<br><b>UROPs:</b> <%= @brother_mit.urops%>
	       		<br><b>Internships:</b> <%= @brother_mit.internships%>
	       		<br><b>Favorite MIT Classes:</b> <%= @brother_mit.fav_classes%>
	      	</div>
	      	<div class="tab-pane info" id="dke_info">
	       		<div align="right" class="edit_btn"><button href="#editDKE" class="btn btn-primary" data-toggle="modal">edit</button></div>
	       		<p><b>Pledge Name:</b> <%= @brother_dke.pname%>
	   			<br><b>Pledge Project:</b> <%= @brother_dke.project%>
	   			<br><b>Big Brother:</b> <%= get_big(@brother_dke.big) %>
	   			<br><b>Little Brothers:</b> <%= get_littles(@brother_dke.littles)%>
	        	<br><b>Current Positions:</b> <%= @brother_dke.cur_pos%>
	   			<br><b>Positions Held:</b> <%= @brother_dke.past_pos%>
	   			<br><b>Residence:</b> <%= @brother_dke.residence%>
	      	</div>
		</div>
	</div>
</div>
<div id="editPersonal" class="modal hide fade editor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
  		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
  		<h3 id="name_year"><%=@brother.full_name%>: Personal</h3>
 	</div>
 	<%= form_for(@brother, options={url: "profile"}) do |f|%>
 	<div class="modal-body">
      	Hometown: <%= f.text_field :hometown %><br>
  		Phone Number: <%= f.text_field :phone %><br>			
		Favorite Quote: <%= f.text_field :quote %><br>
		Bio: <%= f.text_area :bio %><br>
 	</div>
 	<div class="modal-footer">
  		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  		<%= f.submit "Save Changes", class: "btn btn-primary" %>
 	</div>
 	<%end%>
</div>
<div id="editMIT" class="modal hide fade editor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
  		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
  		<h3 id="name_year"><%=@brother.full_name%>: MIT</h3>
 	</div>
 	<%= form_for(@brother_mit, options={url: "profile"}) do |f_mit|%>
 	<div class="modal-body">
   		Majors: <%= f_mit.text_field :majors%><br>
   		Minors: <%= f_mit.text_field :minors%><br>
   		Concentration: <%= f_mit.text_field :concentration%><br>
		Extracurricular Activities: <%= f_mit.text_field :extracurriculars%><br>
   		Interests: <%= f_mit.text_field :interests%><br>
   		UROPs: <%= f_mit.text_field :urops%><br>
   		Internships: <%= f_mit.text_field :internships%><br>
   		Favorite MIT Classes: <%= f_mit.text_field :fav_classes%><br>
 	</div>
 	<div class="modal-footer">
  		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  		<%= f_mit.submit "Save Changes", class: "btn btn-primary" %>
 	</div>
 	<%end%>
</div>
<div id="editDKE" class="modal hide fade editor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
  		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
  		<h3 id="name_year"><%=@brother.full_name%>: DKE</h3>
 	</div>
 	<%= form_for(@brother_dke, options={url: "profile"}) do |f_dke|%>
 	<div class="modal-body">
   		Pledge Name: <%= f_dke.text_field :pname%><br>
		Pledge Project: <%= f_dke.text_field :project%><br>
		Big Brother: <%= get_big(f_dke.text_field :big) %><br>
		Little Brothers: <%= get_littles(f_dke.text_field :littles)%><br>
    	Current Positions: <%= f_dke.text_field :cur_pos%><br>
		Positions Held: <%= f_dke.text_field :past_pos%><br>
		Residence: <%= f_dke.text_field :residence%><br>
 	</div>
 	<div class="modal-footer">
  		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  		<%= f_dke.submit "Save Changes", class: "btn btn-primary" %>
 	</div>
 	<%end%>
</div>