<% provide(:title , "Brother Information: #{@brother.personal.full_name}")%>

<div class="row me">
	<div class="span4">
		<img class="pic" src="<%= @brother.pic_path(root_path) %>"/>
		<span class="visible-phone">
			<h2><%= @brother.personal.full_name%></h2>
			<%= link_to("Edit" , "#{brothers_path}/#{@brother.uname}/edit" , :class => "btn btn-primary pull-right") if @me.in_group("broporn")%>
		</span>
    </div>
    <div class="span8 hidden-phone" align="left">
    	<h2>
    		<%= @brother.personal.full_name%>
    		<%= link_to("Edit" , "#{brothers_path}/#{@brother.uname}/edit" , :class => "btn btn-primary btn-edit pull-right") if @me.in_group("broporn")%>
    	</h2>
    	<table>
    		<tr>
    			<td style="padding:0px;">
    				<div class="row">
    					<div class="span4 mit">
    						<br><h3>MIT class of <%= @brother.mit.year%></h3>
    					</div>
    					<div class="span4 dke">
    						<br><h3>Pledge class of <%= @brother.dke.p_class%></h3></td>
    					</div>
    				</div>
    			</td>
    		</tr>
    	</table>
    </div>
    <div class="span12 profile_pg">
    	<ul class="nav nav-tabs" id="myTab">
    		<li class="active"><a href="#personal" data-toggle="tab">Personal</a></li>
    		<li><a href="#mit_info" data-toggle="tab">MIT</a></li>
    		<li><a href="#dke_info" data-toggle="tab">DKE</a></li>
    	</ul>
    	<div class="tab-content">
    		<div class="tab-pane info active" id="personal">
    			<div class="row">
    				<div class="span12">
    					<% unless @brother.personal.hometown==""%><p><b>Hometown:</b> <%= @brother.personal.hometown%><%end%>
    					<br><b>Email Address:</b> <%= @brother.personal.uname%>@mit.edu
    					<% unless @brother.personal.phone==""%><br><b>Phone Number:</b> <%= @brother.personal.phone%><%end%>
    					<% unless @brother.personal.activities==""%><p><b>Activities:</b> <%= @brother.personal.activities%><%end%>
    					<% unless @brother.personal.hobbies==""%><br><b>Hobbies:</b> <%= @brother.personal.hobbies%><%end%>
    					<% unless @brother.personal.quote==""%><p><b>Favorite Quote:</b> <%= @brother.personal.quote%><%end%>
    					<% unless @brother.personal.movie==""%><br><b>Favorite Movie:</b> <%= @brother.personal.movie%><%end%>
    					<% unless @brother.personal.pro_team==""%><br><b>Favorite Pro Team:</b> <%= @brother.personal.pro_team%><%end%>
    					<% unless @brother.personal.college_team==""%><br><b>Favorite College Team:</b>  <%= @brother.personal.college_team%><%end%>
    					<% unless @brother.personal.bio==""%><P><b>Bio:</b>  <%= @brother.personal.bio%><%end%>
					</div>
				</div>
			</div>
			<div class="tab-pane info" id="mit_info">
				<% unless @brother.mit.majors==""%><p><b>Majors:</b> <%= @brother.mit.majors%><%end%>
       			<% unless @brother.mit.minors==""%><br><b>Minors:</b> <%= @brother.mit.minors%><%end%>
       			<% unless @brother.mit.concentration==""%><br><b>Concentration:</b> <%= @brother.mit.concentration%><%end%>
				<% unless @brother.mit.extracurriculars==""%><br><b>Extracurricular Activities:</b> <%= @brother.mit.extracurriculars%><%end%>
       			<% unless @brother.mit.interests==""%><br><b>Interests:</b> <%= @brother.mit.interests%><%end%>
       			<% unless @brother.mit.urops==""%><br><b>UROPs:</b> <%= @brother.mit.urops%><%end%>
       			<% unless @brother.mit.internships==""%><br><b>Internships:</b> <%= @brother.mit.internships%><%end%>
       			<% unless @brother.mit.fav_classes==""%><br><b>Favorite MIT Classes:</b> <%= @brother.mit.fav_classes%><%end%>
      		</div>
      		<div class="tab-pane info" id="dke_info">
            	<% unless @brother.dke.pname==""%><p><b>Pledge Name:</b> <%= @brother.dke.pname%><%end%>
       			<% unless @brother.dke.project==""%><br><b>Pledge Project:</b> <%= @brother.dke.project%><%end%>
       			<% unless @brother.dke.big==""%><br><b>Big Brother:</b> <%= get_big(@brother.dke.big) %><%end%>
       			<% unless @brother.dke.littles==""%><br><b>Little Brothers:</b> <%= get_littles(@brother.dke.littles)%><%end%>
            	<% unless @brother.dke.cur_pos==""%><br><b>Current Positions:</b> <%= @brother.dke.cur_pos%><%end%>
       			<% unless @brother.dke.past_pos==""%><br><b>Positions Held:</b> <%= @brother.dke.past_pos%><%end%>
       			<% unless get_room(@brother.dke)==""%><br><b>Residence:</b> <%= get_room(@brother.dke)%><%end%>
      		</div>
     	</div>
   </div>
</div>
