<li class="nav-item dropdown"><a>Chapter</a>
	<ul class="dropdown-menu" role="menu" aria-labaledby="dLabel">
		<li><a href="#TODO">General</a></li>
        <li id="pos_sub" class="dropdown-submenu"><a>Positions</a>
        	<ul class="dropdown-menu">
        		<li><%= link_to 'Beta', '#TODO'%></li>
				<li><%= link_to 'Kappa', '#TODO'%></li>
			  	<li><%= link_to 'Sigma', '#TODO'%></li>
			  	<li><%= link_to 'Zeta', '#TODO'%></li>
			  	<li><%= link_to 'Epsilon', '#TODO'%></li>
			  	<li><%= link_to 'Delta', '#TODO'%></li>
			  	<li><%= link_to 'Upsilon', '#TODO'%></li>
			  	<li><%= link_to 'Pi', '#TODO'%></li>
			  	<li><%= link_to 'Gamma', '#TODO'%></li>
			</ul>
        </li>
        <li><a href="#TODO">Calendar</a></li>
        <li><%= link_to 'Brothers' , brothers_path%></li>
	</ul>
</li>