<li class="nav-item dropdown hover">
	<a class="visible-desktop">Chapter</a>
	<a class="hidden-desktop dropdown-toggle" data-toggle="dropdown" href="#">Chapter</a>
	<ul class="dropdown-menu" role="menu" aria-labaledby="dLabel">
	  <% if @me.pledge?%>
		<li id="gen_sub" class="dropdown-submenu"><a>General</a>
			<ul class="dropdown-menu">
				<%= render 'layouts/navbar/public'%>
			</ul>
		</li>
		<% if @me.is? "kappa" %>
		  <li id="gen_sub" class="dropdown-submenu"><a>Treasurer</a>
			<ul class="dropdown-menu">
				<li><%= link_to "Meal Plan Management" , meal_plan_path%></li>
		  	</ul>
		  </li>
		<% end %>
		<% @me.positions.each do | pos |%>
		  <li id="gen_sub" class="dropdown-submenu"><a><%= pos.name%></a>
			<ul class="dropdown-menu">
			  <% if pos.position == "epsilon" %>
				<li><%= link_to "E Controller", epsilon_index_path %></li>
			  <% end %>
			  <li><%= link_to "Award Points" , "#{house_points_path}/#{pos.position}/new"%></li>
			  <li><%= link_to "Update Points" , "#{house_points_path}/#{pos.position}"%></li>
		  	</ul>
		  </li>
		<% end%>
		<li><%= link_to "E Sheet", e_sheet_path%></li>
		<% if @me.brother?%>
		  <li><%= link_to "Points Breakdown", house_points_path%></li>
		<% end %>
		<li><%= link_to "Summer Housing Applications", chapter_public_index_path%></li>
        <!--<li><a href="#TODO">Calendar</a></li>-->
	  <% else%>
		<%= render 'layouts/navbar/public'%>
	  <% end%>
	</ul>
</li>
<li class="nav-item dropdown hover">
	<a class="visible-desktop">Media</a>
	<a class="hidden-desktop dropdown-toggle" data-toggle="dropdown" href="#">Media</a>
	<ul class="dropdown-menu">
		<li><%= link_to 'Subsonic' , '/subsonic'%></li>
		<li id="media_sub" class="dropdown-submenu"><%= link_to 'Downloadables' , @media_root%>
			<ul class="dropdown-menu">
				<li><%= link_to 'Books' , "#{@media_root}/Books"%></li>
				<li><%= link_to 'Comics' , "#{@media_root}/Comics"%></li>
				<li><%= link_to 'Games' , "#{@media_root}/Games"%></li>
				<li><%= link_to 'Music' , "#{@media_root}/Music"%></li>
				<li><%= link_to 'Pictures' , "#{@media_root}/Pictures"%></li>
				<li><%= link_to 'Software' , "#{@media_root}/Software"%></li>
				<li><%= link_to 'Video' , "#{@media_root}/Video"%></li>
				<li><%= link_to 'Misc' , "#{@media_root}/Misc"%></li>
			</ul>
		</li>
	</ul>
</li>
<li class="nav-item dropdown hover">
	<a class="visible-desktop">Academics</a>
	<a class="hidden-desktop dropdown-toggle" data-toggle="dropdown" href="#">Academics</a>
	<ul class="dropdown-menu">
		<li><a href="#TODO">Add a Bible</a></li>
		<li><%= link_to 'Bibles' , "#{@media_root}/Bibles"%></li>
	</ul>
</li>
<li class="nav-item"><%= link_to 'Wiki' , "/wiki" if @me.brother?%></li>
<!--<li style="padding-top:3px;"><a><input placeholder="search"></a></li>-->