<li class="nav-item"> <%= link_to "About DKE" , "#{main_app.public_pages_path}about"%></li>
<li class="nav-item"><%= link_to "President's Letter" , "#{main_app.public_pages_path}letter"%></li>
<li class="nav-item"><%= link_to 'The Brothers' , main_app.brothers_path%></li>
<li class="nav-item"><%= link_to "The House" , main_app.house_path%></li>
<!--<li class="nav-item"><= link_to "Summer Housing" , summer_housing_path%></li>-->
<li class="nav-item"><%= link_to "Contact" , main_app.contact_path%></li>


