<li class="nav-item"> <%= link_to "About DKE" , "#{root_url}about"%></li>
<li class="nav-item"><%= link_to "President's Letter" , "#{root_url}letter"%></li>
<li class="nav-item"><%= link_to 'The Brothers' , brothers_path%></li>
<li class="nav-item"><%= link_to "The House" , "#{root_url}house"%></li>
<li class="nav-item"><%= link_to "Contact" , "#{root_url}contact"%></li>


