<li class="nav-item"> <%= link_to "About DKE" , about_path%></li>
<li class="nav-item"><%= link_to "President's Letter" , letter_path%></li>
<li class="nav-item"><%= link_to 'The Brothers' , brothers_path%></li>
<li class="nav-item"><%= link_to "The House" , house_rooms_path%></li>
<li class="nav-item"><%= link_to "Summer Housing" , summer_housing_path%></li>
<li class="nav-item"><%= link_to "Contact" , contact_path%></li>


