<% provide(:title , "Schedule Management - Edit")%>

<div class="row">
  <div class="span6 offset3" align="left">
  	<h2>Schedule Management</h2><br>
  	<%= render_errors(@meal_template)%>
  	<%= form_for(@meal_template, options={url: "#{main_app.e_sheet_path}#update"}) do |f|%>
  	  Date: <%= day_select(f, @meal_template)%><br>
  	  Meal Type: <%= f.select( :e_type, options_for_select([["Lunch","t_lunch"],["Dinner","t_dinner"]], selected: @meal_template.e_type))%><br>
  	  Time: <%= f.text_field :time%><br>
  	  E Value: <%= f.text_field :value%><br>
  	  <%= f.submit("Save Changes" , :class => "btn")%>
  	  <%= link_to("Delete Meal" , main_app.e_sheet_path , method: :delete,
  	  data: { confirm: "Are you sure you would like to delete this meal?" }, :class => "btn")%>
  	<% end %>
  </div>
</div>