<% provide @media_root = "/dke"%>

<header class="navbar navbar-dke navbar-fixed-top">
	<nav class="navbar-inner">
    	<div class="container">
     		<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		     	<span class="icon-bar"></span>
		      	<span class="icon-bar"></span>
		      	<span class="icon-bar"></span>
     		</button>
     		<div id="mainNavBar" class="nav-collapse collapse">
     			<ul class="nav">
     				<li class="nav-item"><%= link_to 'Home' , root_path %></li>
     				<%= render 'layouts/navbar/public' unless @me.uname%>
     				<%= render 'layouts/navbar/private' if @me.uname%>
     			</ul>
				<ul class="nav pull-right">
					<% if @me.uname%>
					<li class="nav-item"><a href="#TODO">Make a Request</a></li>
					<li class="nav-item dropdown hover">
						<a class="visible-desktop"><%= get_name(@me.uname)%></a>
						<a class="hidden-desktop dropdown-toggle" data-toggle="dropdown" href="#"><%= get_name(@me.uname)%></a>
						<ul class="dropdown-menu">
							<%= render 'layouts/navbar/brochicken' if @me.in_group("brochicken")%>
							<%= render 'layouts/navbar/broporn' if @me.in_group("broporn")%>
							<% if @me.uname == "westy"%>
							  <li><%= link_to "E Sheet" , wsty_path%></li>
							<% end %>
							<%= render 'layouts/navbar/profile' if @me.pledge? && request.env['REMOTE_USER']!='dkealum'%>
							<% if @me.pwd? %>
								<li><%= link_to "Change Passowrd", ch_pwd_path%></li>
							<%end%>
							<li><%= link_to 'Logout' , "#{root_url}logout"%></li>
						</ul>
					</li>
					<% else %>
				   	<li class="nav-item dropdown">
				   		<a class="dropdown-toggle" data-toggle="dropdown" href="#">Login</a>
				   		<ul class="dropdown-menu">
				   			<%= form_tag("#{root_url(:protocol => 'https')}login", method: "post") do%>
				   				<input style="margin-top: 8px" name="httpd_username" type="text" placeholder="Username" />
				   				<input style="margin-top: 8px" name="httpd_password" type="password" placeholder="Passsword" />
				   				<input class="btn" name="login" type="submit" value="Login" />
				   			<% end%>                   			
						</ul>
					</li>
					<% end%>
     			</ul>
     		</div>
    	</div>
    </nav>
</header>
